In [10]:
import pandas as pd

archivo = pd.ExcelFile('../archivos/originales/homicidios.xlsx')

def CalcularNulos(df):
    for columna in df:
        nulos = 100*(df[columna].isnull().sum()/df.shape[0])
        porcentaje = "{:.1f}".format(nulos)
        print("el porcentaje de datos nulos en la columna ",df[columna].name," es del ",porcentaje,"%")

    print('-------------------------------------------------------------------------------------------')

#########################################################################################################
************************************************************************

**ETL Victimas**

In [11]:

df_victimas = pd.read_excel(archivo,sheet_name="VICTIMAS")

In [12]:
df_victimas.info

<bound method DataFrame.info of       ID_hecho      FECHA  AAAA  MM  DD                   ROL VICTIMA  \
0    2016-0001 2016-01-01  2016   1   1             CONDUCTOR    MOTO
1    2016-0002 2016-01-02  2016   1   2             CONDUCTOR    AUTO
2    2016-0003 2016-01-03  2016   1   3             CONDUCTOR    MOTO
3    2016-0004 2016-01-10  2016   1  10             CONDUCTOR    MOTO
4    2016-0005 2016-01-21  2016   1  21             CONDUCTOR    MOTO
..         ...        ...   ...  ..  ..                   ...     ...
712  2021-0092 2021-12-12  2021  12  12                PEATON  PEATON
713  2021-0093 2021-12-13  2021  12  13  PASAJERO_ACOMPAÑANTE    MOTO
714  2021-0094 2021-12-20  2021  12  20  PASAJERO_ACOMPAÑANTE    MOTO
715  2021-0095 2021-12-30  2021  12  30             CONDUCTOR    MOTO
716  2021-0096 2021-12-15  2021  12  15             CONDUCTOR    AUTO

          SEXO EDAD  FECHA_FALLECIMIENTO
0    MASCULINO   19  2016-01-01 00:00:00
1    MASCULINO   70  2016-01-02 00:00:00
2    MASCULINO   30  2016-01-03 00:00:00
3    MASCULINO   18                   SD
4    MASCULINO   29  2016-02-01 00:00:00
..         ...  ...                  ...
712   FEMENINO   50  2021-12-12 00:00:00
713   FEMENINO   18  2021-12-18 00:00:00
714   FEMENINO   43  2021-12-20 00:00:00
715  MASCULINO   27  2022-01-02 00:00:00
716  MASCULINO   60  2021-12-20 00:00:00

[717 rows x 10 columns]>

In [13]:
df_victimas.describe(include='all')

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
count,717,717,717.000000,717.000000,717.000000,717,717,717,717,717
unique,696,NaN,NaN,NaN,NaN,5,8,3,86,563
top,2017-0035,NaN,NaN,NaN,NaN,CONDUCTOR,MOTO,MASCULINO,SD,SD
freq,3,NaN,NaN,NaN,NaN,330,303,545,53,68
mean,NaN,2018-09-09 01:36:24.100418304,2018.174338,6.688982,15.960948,NaN,NaN,NaN,NaN,NaN
min,NaN,2016-01-01 00:00:00,2016.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,2017-04-01 00:00:00,2017.000000,4.000000,9.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,2018-07-07 00:00:00,2018.000000,7.000000,16.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,2019-12-18 00:00:00,2019.000000,10.000000,23.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,2021-12-30 00:00:00,2021.000000,12.000000,31.000000,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,1.672655,3.575140,8.683358,NaN,NaN,NaN,NaN,NaN

In [40]:
df_victimas.replace('SD',None)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,None
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

In [41]:
CalcularNulos(df_victimas)

el porcentaje de datos nulos en la columna  ID_hecho  es del  0.0 %
el porcentaje de datos nulos en la columna  FECHA  es del  0.0 %
el porcentaje de datos nulos en la columna  AAAA  es del  0.0 %
el porcentaje de datos nulos en la columna  MM  es del  0.0 %
el porcentaje de datos nulos en la columna  DD  es del  0.0 %
el porcentaje de datos nulos en la columna  ROL  es del  0.0 %
el porcentaje de datos nulos en la columna  VICTIMA  es del  0.0 %
el porcentaje de datos nulos en la columna  SEXO  es del  0.0 %
el porcentaje de datos nulos en la columna  EDAD  es del  0.0 %
el porcentaje de datos nulos en la columna  FECHA_FALLECIMIENTO  es del  0.0 %
-------------------------------------------------------------------------------------------

In [28]:
duplicados = df_victimas[df_victimas['AAAA'].duplicated()]

In [39]:
df_victimas['SEXO'].value_counts()

SEXO
MASCULINO    545
FEMENINO     166
SD             6
Name: count, dtype: int64

In [37]:
df_victimas.head(40)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
5,2016-0008,2016-01-24,2016,1,24,CONDUCTOR,MOTO,MASCULINO,30,2016-01-24 00:00:00
6,2016-0009,2016-01-24,2016,1,24,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,29,2016-01-26 00:00:00
7,2016-0010,2016-01-29,2016,1,29,CONDUCTOR,MOTO,MASCULINO,18,2016-01-29 00:00:00
8,2016-0012,2016-02-08,2016,2,8,CONDUCTOR,MOTO,MASCULINO,22,2016-02-08 00:00:00
9,2016-0013,2016-02-10,2016,2,10,PEATON,PEATON,MASCULINO,16,2016-02-10 00:00:00
10,2016-0015,2016-02-14,2016,2,14,PEATON,PEATON,FEMENINO,16,2016-02-14 00:00:00
11,2016-0016,2016-02-14,2016,2,14,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,19,2016-02-14 00:00:00
12,2016-0017,2016-02-15,2016,2,15,PEATON,PEATON,MASCULINO,59,2016-02-16 00:00:00
13,2016-0019,2016-02-17,2016,2,17,PEATON,PEATON,FEMENINO,65,2016-02-17 00:00:00
14,2016-0020,2016-02-17,2016,2,17,PEATON,PEATON,MASCULINO,59,2016-03-02 00:00:00
15,2016-0021,2016-02-17,2016,2,17,CONDUCTOR,AUTO,MASCULINO,34,2016-02-17 00:00:00
16,2016-0022,2016-02-21,2016,2,21,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,41,SD
17,2016-0025,2016-02-28,2016,2,28,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,34,2016-02-28 00:00:00
18,2016-0026,2016-02-28,2016,2,28,CONDUCTOR,AUTO,MASCULINO,30,2016-03-04 00:00:00
19,2016-0027,2016-02-28,2016,2,28,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,34,SD
20,2016-0028,2016-03-02,2016,3,2,PEATON,PEATON,MASCULINO,50,2016-03-02 00:00:00
21,2016-0029,2016-03-04,2016,3,4,PEATON,PEATON,MASCULINO,38,2016-03-04 00:00:00
22,2016-0031,2016-03-08,2016,3,8,CONDUCTOR,MOTO,MASCULINO,21,SD
23,2016-0034,2016-03-12,2016,3,12,PEATON,PEATON,MASCULINO,52,2016-03-12 00:00:00
24,2016-0035,2016-03-13,2016,3,13,CONDUCTOR,MOTO,MASCULINO,34,2016-03-13 00:00:00
25,2016-0036,2016-03-14,2016,3,14,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,36,2016-03-14 00:00:00
26,2016-0037,2016-03-19,2016,3,19,CONDUCTOR,MOTO,MASCULINO,20,2016-03-19 00:00:00
27,2016-0038,2016-03-21,2016,3,21,PEATON,PEATON,MASCULINO,29,2016-03-21 00:00:00
28,2016-0039,2016-03-23,2016,3,23,CONDUCTOR,MOTO,MASCULINO,20,2016-03-23 00:00:00
29,2016-0041,2016-03-29,2016,3,29,CONDUCTOR,MOTO,MASCULINO,54,2016-03-29 00:00:00
30,2016-0041,2016-03-29,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2016-03-30 00:00:00
31,2016-0043,2016-03-30,2016,3,30,PEATON,PEATON,FEMENINO,56,2016-03-30 00:00:00
32,2016-0044,2016-03-31,2016,3,31,CONDUCTOR,MOTO,MASCULINO,24,2016-03-31 00:00:00
33,2016-0045,2016-04-11,2016,4,11,CONDUCTOR,MOTO,MASCULINO,SD,SD
34,2016-0047,2016-04-15,2016,4,15,PEATON,PEATON,MASCULINO,41,2016-04-15 00:00:00
35,2016-0048,2016-04-15,2016,4,15,PEATON,PEATON,FEMENINO,SD,SD
36,2016-0049,2016-04-17,2016,4,17,SD,SD,SD,SD,SD
37,2016-0050,2016-04-19,2016,4,19,PEATON,PEATON,MASCULINO,78,2016-04-19 00:00:00
38,2016-0051,2016-04-20,2016,4,20,CONDUCTOR,MOTO,MASCULINO,36,2016-04-20 00:00:00
39,2016-0052,2016-04-20,2016,4,20,SD,MOTO,SD,SD,SD